/* css reset */
h1,h2,h3,h4,h5,h6,p {
    padding: 0px;
    margin: 0px;
}

/* common css */
.borderBottom {
    border-bottom: 1px solid #c8c8c8;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.borderTopBottom {
    border-top: 2px solid #c8c8c8;
    border-bottom: 2px solid #c8c8c8;
    padding: 5px 0px;
    margin-bottom: 10px;
}

/* animation */
@keyframes rolling{
    0%{
        margin-top: -50px;
    }
    50%{
        margin-top: -25px;
    }
    100%{
        margin-top: 0px;
    }
}

.center {
    text-align: center;
}

body {
    margin: 3% auto;
    padding: 3%;
    width: 800px;
    height: auto;
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px rgba(90, 126, 145, 0.5);
    font-family: 'Montserrat', sans-serif;
}

header {
    text-align: right;
    padding: 15px;
}

section {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.userName {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: italic;
}

.userJob {
    height: 25px;
    color: #7c7c7c;
    overflow: hidden;
}

.userJobList{
    list-style-type: none;
    line-height: 25px;
    margin-top: -0px;
    animation-name: rolling;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.leftSection {
    width: 60%;
    padding-left: 10px;
}

.rightSection {
    width: 30%;
}

.profileImg {
    width: 200px;
    height: 230px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.secItem {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.secItemTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.secItemSubtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.secItemContent {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 10px;
    line-height: 1rem;
    margin-bottom: 5px;
}

.secItemColumn {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.secItemLevel {
    font-weight: 300;
    font-size: 11px;
    padding: 5px 0px;
}
